<div class="column daily-card">
    <div class="daily-card__date">
      <div class="daily-card__date--container">
        <span class="numb">7</span>
      <span class="month">juin</span>
      </div>
    </div>
  </div>