<div class="no-user-connected">
    <div class="section">
        <div class="main-visual-container">
            <div class="img-box">
                <span class="logo"><img src="./images/logo_transparent.png" alt=""></span>
            </div>
            <p class="base-line base-line--first">Et la communication devient plus facile.</p>
            <p class="base-line base-line--second">Le carnet de correspondance en ligne dédié à la garde.</p>
            <div class="btn-access-container">
                <a class="button btn-login--home" href="/signup">Inscription</a>
                <a class="button btn-login--home" href="/login">Connection</a>
            </div>
        </div>

    </div>
</div>