<div class="no-user-connected">
    <div>
        <div class="main-visual-container">
            <div class="img-box">
                <span class="logo"><img src="./images/logo_transparent.png" alt=""></span>
            </div>
            <div class="section">
                <p class="base-line base-line--first">Et la communication devient plus facile.</p>
                <p class="base-line base-line--second">Le carnet de correspondance en ligne dédié à la garde.</p>
            </div>
            <div class="btn-access-container section">
                <a class="button btn-login--home" href="/signup">Inscription</a>
                <a class="button btn-login--home" href="/login">Connection</a>
            </div>
            <div class="illustration-container">
                <div class="illustration illustration-left"></div>
                <div class="illustration illustration-right"></div>
                <div class="cards-description">
                    <div class="card one">
                        <p class="title">ACCES SIMPLE ET RAPIDE</p>
                        <p>Je me connecte et je consulte</p>
                    </div>
                    <div class="card second">
                        <p class="title">TOUT RESTE STOCKES</p>
                        <p>Mes données sont consultables tout le temps</p>
                    </div>
                </div>
            </div>

            <div class="wave-container section">
                <div class="cards-description">
                    <div class="card">
                        <p>Lucas a fait une bonne sieste</p>
                        <div class="img"></div>
                    </div>


                    <div class="text">
                        <p class="title">Des photos bb lors de vos absences</p>
                        <div>Découvrez le panel photo.</div>
                        <a class="button btn-login--discover" href="/signup">Découvrir</a>
                    </div>
            </div>
            
        </div>

    </div>
</div>