{{>header}}
<div class="container section">  
  <div class="form form-login" id="form">
    <h2 class="title-form">Connection</h2>
    <form action="/login" method="post">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" name="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>

      <p class="control has-icons-left has-icons-right">
        <input class="input" type="password" name="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-unlock"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>

      {{#if errorMessage}}
      <div class="error-message">{{errorMessage}}</div>
      {{/if}}
      <button type="submit" class="button button-login is-rounded">Se connecter avec mon email</button>
     

    <p class="text-center">Pas encore de compte ?<a href="/signup"> Inscrivez vous</a></p>

    </form>
  </div>
</div>