<div class="container">
  <div class="logo">
    <img src="./images/logo_transparent.png" alt="logo daily baby" />
  </div>
  <div class="form form-signup" id="form">
    <form action="/signup" method="post" enctype="multipart/form-data">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" name="username" placeholder="Username">
        <span class="icon is-small is-left">
          <i class="far fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>

      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" name="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>

      <p class="control has-icons-left has-icons-right">
        <input class="input" type="password" name="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-unlock"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>

      <p class="control has-icons-left has-icons-right">
        <input class="input" type="file" name="photo" placeholder="Votre avatar">
        <span class="icon is-small is-left">
          <i class="fas fa-file-upload"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>


      <div class="select select-role">
        <span>Vous êtes:</span>
        <select name="role" id="role" name="role" type="role">
          <option value="parent">Parent</option>
          <option value="nurse">Assistante maternelle</option>
        </select>
      </div>


      <p class="control has-icons-left has-icons-right">
        <input class="input" type="babyname" name="babyname" placeholder="Nom de l'enfant">
        <span class="icon is-small is-left">
          <i class="fas fa-baby"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>

      <p class="control has-icons-left has-icons-right isNotVisible input-parent-data">
        <input class="input" type="nursename" name="nursename" placeholder="Nom de l'assistante maternelle">
        <span class="icon is-small is-left">
          <i class="fas fa-hands-helping"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>

      <p class="control has-icons-left has-icons-right isNotVisible input-nurse-data">
        <input class="input" type="parentname" name="parentname" placeholder="Nom de la famille de l'enfant">
        <span class="icon is-small is-left">
          <i class="fas fa-user-friends"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>

      <p class="control has-icons-left has-icons-right">
        <input class="input" type="email" name="emailCorrespondant" placeholder="Email de votre correspodant">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>

      {{#if errorMessage}}
      <div class="error-message">{{errorMessage}}</div>
      {{/if}}
      <button type="submit" class="button button-login is-rounded">Créer un compte</button>
      <p class="text-center">Avez vous déjà un compte ? <a href="/login">Connectez vous</a></p>
    </form>
  </div>
</div>