<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DailyBaby</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <section class="section wrapper">
    <div class="container">
      {{{body}}}
    </div>
  </section>
  <script src="/js/moment-min.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>