
{{>header}}
<div class="container section">
  <h1 class="title-form">Ton profil {{user.username}}</h2>

  <div class="avatar">
      <div class="avatar-baby-pic">
        <img src="{{user.avatar}}" alt="user photo">
      </div>
      <div class="avatar-name">{{user.username}}</div>
    </div>





<div class="tabs is-centered">
  <ul>
    <li class="is-active"><a>Mes enfants</a></li>
    <li><a href="/add-baby">Ajouter un enfant</a></li>
    <li><a href="/update">Mise à jour de vos infos</a></li>
    <li><a href="/manage">Gérer la garde</a></li>
  </ul>
</div>

  <h2 class="title-section">Mes enfants</h2>
  <ul>
    {{#each babies}}
      <li>{{this.username}}</li>
    {{/each}}
  </ul>
<br>
<br>
  
{{!-- 
  <div class="form form-signup" id="form">
    {{>addbaby}}
    
    {{>update}}
<br>
  {{>manage}}
  </div> --}}
