#form {
  flex-direction: column;
  input,
  select {
    font-family: $FONT_MONTSERRAT;
  }

  display: flex;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  &-container {
    margin-bottom: 20px;
  }
  .label-container {
    display: flex;
    flex-direction: column;
    color: #1d1d1d;
    font-size: 14px;
    input {
      border: 0px;
      border-bottom: 1px solid lightgray;
      margin-bottom: 15px;
      padding: 5px 8px 5px;
      background: none;
    }
  }

  .control {
    margin-bottom: 20px;
    input {
      border: none;
      border-bottom: 1px solid lightgray;
      border-radius: 0;
      box-shadow: none;
      &::placeholder {
        font-family: "Montserrat", sans-serif !important;
      }
    }
  }

  .select-role {
    margin-bottom: 40px;
    select {
      border-color: lightgray;
      color: #1d1d1d;
      font-family: inherit;
    }
  }
}

.button {
  margin: 20px 0;
  font-family: inherit;
  &-login {
    background-color: rgba(94, 206, 211, 1);
    color: #fff;
    border: none;
  }
}

.btn-login {
  &--home {
    color: white;
    background: black;
    border: none;
    font-weight: 800;
    transition: transform 200ms ease;
    &:hover {
      transform: translateY(-2px);
      color: #fff;
    }
  }
  &--discover {
    background: #eec0d5;
    border: none;
    font-weight: 800;
    transition: transform 200ms ease;
    color: white;
    &:hover {
      transform: translateY(-2px);
      color: white;
      
    }
  }
}
.select {
  display: inline-grid !important;
  select {
    border: 1px solid #ffffff73;
    background: none;
    color: #fff;
    font-family: "Open Sans", sans-serif !important;
  }
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #fafafac4 !important;
  top: 39px;
}

//Manage page
.form-manage {
   li {
    display: flex;
    align-items: center;
    margin: 25px 0;
    .checkbox {
      margin-right: 25px;
    }
   }
  
}


  .title-form {
    font-family: $FONT_MONTSERRAT;
    font-weight: bold;
    font-size: 30px;
    color: #5dced3;
    margin-bottom: 50px;
    &:before {
      content: '';
      width: 10px;
      height: 15px;
      border: 2px solid #5dced3;
      margin-right: 10px;

    }
    
  }

.title-section {
  font-family: $FONT_MONTSERRAT;
  text-transform: uppercase;
  color: #5dced3;
}