
#header {
    background-color: #5eccd3;
    border-bottom: 1px solid #fff;
    .logo span {
        font-family: 'Love Ya Like A Sister', cursive;
        font-size: 30px;
        color: #fff;
    }

    .navbar-burger span {
        border-radius: 16px !important;
        width: 23px !important;
        height: 3px !important;
        color: #fff !important;
    }

    #navbarBasicExample {
        background-color: #5eccd3 !important;
    }
}