@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Montserrat:400,500,800&display=swap');
$color_white: #fff;
$COLOR_BLACK: #1d1d1d;
$FONT_MONTSERRAT:  'Montserrat', sans-serif !important;

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #fff;
  color:  #1d1d1d;
}

.wrapper {
  height: auto;
  min-height: calc(100vh);
}

.no-user-connected{
  height: auto;
  min-height: calc(100vh);
  background: rgb(94, 206, 211);
  background: -moz-linear-gradient(
    180deg,
    rgba(94, 206, 211, 1) 0%,
    rgba(128, 112, 218, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(94, 206, 211, 1) 0%,
    rgba(128, 112, 218, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(94, 206, 211, 1) 0%,
    rgba(128, 112, 218, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5eced3",endColorstr="#8070da",GradientType=1);
}

.private-page-wrapper {
  .private-page-wrapper--top {
    background: rgb(94, 206, 211);
    background: -moz-linear-gradient(
      180deg,
      rgba(94, 206, 211, 1) 0%,
      rgba(128, 112, 218, 1) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(94, 206, 211, 1) 0%,
      rgba(128, 112, 218, 1) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(94, 206, 211, 1) 0%,
      rgba(128, 112, 218, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5eced3",endColorstr="#8070da",GradientType=1);
  }

  .private-page-wrapper--bottom {
    background: #fff;
  }
}

a {
  color: #00b7ff;
}
