.daily-post {
  position: relative;
  z-index: 12;
  &__article {
    &-img {
      width: 700px;
      height: 500px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      border: 1px solid #c9c4c4;
      border-radius: 14px;
      overflow: hidden;
    }

    &-title {
      font-family: $FONT_MONTSERRAT;
      text-transform: uppercase;
      color: $COLOR_BLACK;
      font-weight: bold;
      border-bottom: 1px solid;
    }

    &-text {
      margin: 20px 10px;
    }
  }
  &__slider {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    &-button {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #cbcbcb;
    }
  }
}

.new-article-container {
  margin: 20px 0;
}
.add-note-title {
  text-transform: uppercase;
    font-weight: 500;
    border-bottom: 2px solid;
}

.add-note-textarea {
  margin-top: 50px;
  width: 100%;
  height: 100px;

}