{{>header}}
 <div class="container section">
 <div class="form form-signup" id="form">
<h1 class="title-form">Editer la note du jour</h1>
<form action="/posts/new" method="POST" enctype="multipart/form-data">

  <article class="daily-post__article">
    <div class="daily-post__article-img">
    </div>
    <div class="daily-post__slider">
      <span class="daily-post__slider-button"></span>
    </div>
    <label>
      Une petite photo ? :
      <input type="file" name="pic">
    </label>
    
    <div class="new-article-container">
    

    <p class="add-note-title">Ajouter une note</p>
    <div class="add-note-textarea-container">
        <textarea name="content" class="add-note-textarea"></textarea>
    
  </div>
  </div>
  </article>
<br>

  <button type="submit" class="button button-login is-rounded">Créer la note</button>

</form>
</div>
</div>